@model List<Course>
@{
    int count = 1;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Courses</h4>
            <p class="card-description">
                <a asp-action="Create" class="btn btn-success text-white">Create</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>

                            <th>Image</th>
                            <th>
                                Name
                            </th>
                            <th>Price</th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Course Course in Model)
                        {

                            <tr>
                                <td>
                                    @(count++)
                                </td>
                                <td><img src="~/img/@Course.ImagePath" style="width:50px;height:50px" /></td>
                                <td class="py-1">
                                    @Course.Name
                                </td>
                                <td class="py-1">
                                    @Course.Price
                                </td>



                                <td>
                                    <a asp-action="Detail" asp-route-id="@Course.Id" class="btn btn-primary">
                                        Detail
                                    </a>
                                    <a asp-action="Update" asp-route-id="@Course.Id" class="btn btn-warning">
                                        Update
                                    </a>

                                    <a asp-action="Delete" asp-route-id="@Course.Id" class="btn btn-danger">
                                        Delete
                                    </a>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>